
.cart-titles{
    margin: 0 auto;
    width: 90%;
}
.sectionCart{
    margin-bottom: 150px;
}

.cart-items{
    border-bottom: 1px solid black;
    font-size: 1.3rem;
}
.cart-atributes{
    background-color: rgba(0, 0, 0, 0.338);
}

.img-product{
    width: 50px;
}

.emptyCart{
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.053);
    width: 40%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.224);
}

.emptyCart img{
    width:20rem
}

.btnEmptyCart{
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.btnContinueCart{
    color: #1976d2;
    font-size: Helvetica, Arial, sans-serif 14px;
    line-height: 24.5px;
    letter-spacing: 0.39px;
}
.cartBtn{
    border:none;
    background-color:white;
    
}
.btnClear{
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: white;
    padding: 1px;
}
.btnClear:hover{
    background-color: rgba(0, 0, 0, 0.174);
}

.btnEmptyCart:hover{
    background-color: rgba(0, 0, 0, 0.642);
}
.checkoutOption{
    width: 100px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.053);
}
.checkoutComplete{
    width: 150px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.053);
}
.checkoutComplete:hover, .checkoutOption:hover{
    transform: scale(1, 1);
    transition: all 0.5s ease;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.224);
}
.checkout{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orderNumber{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
}

/* Responsive */
@media (max-width:858px){
    .emptyCart img{
        width:6rem
    }
    
}